.container{
    margin: 5rem 5rem 2rem 5rem;
    background-color: rgba(255, 255, 255, 0.712);
    padding: 0.625rem 2.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: center;
    gap: 0;
}


.container-control{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}



.numero{
font-size:xx-large;
color: black;
}
.texto-espera{
margin: 1rem;
color: #003366;
}
.a-text{
    color: #003366;
}

.btn-teleconsulta{
    text-decoration: none;
    margin: 1rem;
    padding: 1rem 1.5rem;
    font-size:x-large;
    background: #003366;
    color: white;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.a-btn{
    color: #ffffff;
    text-decoration: none;
}
.btn-teleconsulta:after{
    color: #ffffff;
    text-decoration: none;
}

.img-container{
  height: 15rem;
}
img{
    width: auto;
    height: 15rem;
}

@media screen and (max-width:800px) {
    
} 